@import "/src/ken.scss";

.Header {
  padding: 2rem;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  .btn {
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2.5rem;
    font-weight: 600;
    color: $clr-n-darkcyan;
    border: 0;
    background: #fff;
    box-shadow: lighten($clr-n-grayblue, 20%) 0px 2px 8px 0px;
    transition: all 50ms ease;

    &:hover,
    &:focus {
      background: $clr-p-pink;
      color: $clr-n-palecyan;
    }
    &:active {
      box-shadow: unset;
      background: $clr-p-pink;
      color: $clr-n-palecyan;
    }
  }
}
